# Config file
.env

docs
images
scripts
node_modules
docker-compose.yml
Dockerfile
CODEOWNERS

nginx_example.conf
bitcoind.service

# Hidden files
.git
.vscode
.gitignore
.dockerignore
.eslintrc.js
.gitlab-ci.yml
