BOT_PATH_SECRET=change_this_to_a_secure_random_string
TELEGRAM_TOKEN=xyz
TELEGRAM_BOT_URL=https://yourdomain.com
BITCOIN_RPC_HOST=localhost
BITCOIN_RPC_USERNAME=bitcoin
BITCOIN_RPC_PASSWORD=xyz
FULCRUM_RPC_HOST=localhost
PINO_LOG_LEVEL=warn
CHART_IMAGE_API_KEY=aaaabbbbcccc
