TELEGRAM_TOKEN=xyz
BITCOIN_RPC_HOST=localhost
BITCOIN_RPC_USERNAME=bitcoin
BITCOIN_RPC_PASSWORD=xyz
FULCRUM_RPC_HOST=localhost
TELEGRAM_BOT_URL=https://yourdomain.com
CHART_IMAGE_API_KEY=aaaabbbbcccc
